<div class="">
  <div class="">
    <button
      *ngIf="element == true"
      (click)="hideData()"
      class="relative inline-flex mt-10 items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-500 to-pink-500 group-hover:from-purple-500 group-hover:to-pink-500 hover:text-blue-400 dark:text-white focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800"
    >
      <span
        class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0"
      >
        Hide
      </span>
    </button>
    <button
      *ngIf="element == false"
      (click)="showData()"
      class="relative inline-flex mt-10 items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-500 to-pink-500 group-hover:from-purple-500 group-hover:to-pink-500 hover:text-blue-500 dark:text-white focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800"
    >
      <span
        class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0"
      >
        Add New
      </span>
    </button>
    <div *ngIf="element == true" class="max-w-md mt-10 space-y-6">
      <form [formGroup]="studentForm" (ngSubmit)="onSubmit()">
        <div class="mb-10">
          <label class="uppercase text-sm font-bold opacity-70"
            >Student Name</label
          >
          <input
            placeholder=""
            type="text"
            name="name"
            formControlName="name"
            [ngClass]="{ 'is-invalid': submitted && f['name'].errors }"
            class="form-control p-4 mt-2 w-full bg-slate-50 rounded border-2  focus:border-slate-600 focus:outline-none"
          />
          <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
            <div *ngIf="f['name'].errors['required']" class="text-red-500">
              Fullname is required
            </div>
          </div>
        </div>

        <label class="uppercase text-sm font-bold opacity-70">Gender</label>
        <div class="flex mb-5">
          <div class="custom-control custom-radio">
            <input
              id="male"
              type="radio"
              class="custom-control-input"
              value="Male"
              name="gender"
              formControlName="gender"
              [ngClass]="{ 'is-invalid': submitted && f['gender'].errors }"
            />
            <label class="custom-control-label" for="male">Male</label>
          </div>

          <div class="custom-control custom-radio ml-10">
            <input
              id="female"
              type="radio"
              class="custom-control-input"
              value="Female"
              name="gender"
              formControlName="gender"
              [ngClass]="{ 'is-invalid': submitted && f['gender'].errors }"
            />
            <label class="custom-control-label" for="female">Female</label>
          </div>
          <div *ngIf="submitted && f['gender'].errors" class="invalid-feedback">
            <div *ngIf="f['gender'].errors && f['gender'].errors['required']">
              palse choose gender
            </div>
          </div>
        </div>

        <label class="uppercase text-sm font-bold opacity-70">Subject</label>
        <select
          name="subject"
          formControlName="subject"
          [ngClass]="{ 'is-invalid': submitted && f['subject'].errors }"
          class=" w-full p-3 mt-2  bg-slate-50 rounded border-2 focus:outline-none"
        >
          <option value="">Choose Subject</option>
          <option value="Spring">Spring</option>
          <option value="DevOps">DevOps</option>
          <option value="Data Analytics">Data Analytics</option>
          <option value="iOS">iOS</option>
          <option value="Android">Android</option>
          <option value="Blockchain">Blockchain</option>
        </select>
        <div *ngIf="submitted && f['subject'].errors" class="invalid-feedback">
          <div *ngIf="f['subject'].errors['required']" class="text-red-500">
            Fullname is required
          </div>
        </div>
        <button
          type="submit"
          class="py-2 px-5 my- mt-5 bg-blue-500 text-white font-medium rounded hover:bg-indigo-500 cursor-pointer ease-in-out duration-300"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
